body {
  background-color: powderblue;
    background-image: url("hotdog.jpeg");
  background-size:200px;
font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
h1 {
  color: black;
}
p {
  color: black;
}
.post {
  background-color:steelblue;
  outline:5px solid cadetblue;
  padding:10px;
  margin:25px 50px;
  box-shadow: 5px 5px 10px black;
  border-radius:10px;
}
.inset{
  padding:5px 10px;
  box-shadow:inset 2px 2px 5px black;
  border-radius:10px;
}
a {
  color: navy;
  font-weight: bold;
  text-decoration:none;
}
